<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MavenBankingProject</display-name>
  <servlet>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AccountServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AccountDetailServlet</display-name>
    <servlet-name>AccountDetailServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AccountDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AccountDepositServlet</display-name>
    <servlet-name>AccountDepositServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AccountDepositServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AccountWithdrawServlet</display-name>
    <servlet-name>AccountWithdrawServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AccountWithdrawServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>AccountTransferServlet</display-name>
    <servlet-name>AccountTransferServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AccountTransferServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JSONAccountServlet</servlet-name>
  	<servlet-class>com.kdemello.mavenbanking.servlet.JSONAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JSONAccountServlet</servlet-name>
  	<url-pattern>/JSONAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/accounts/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/accounts/status/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/accounts/owner/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountDetailServlet</servlet-name>
    <url-pattern>/AccountDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountDepositServlet</servlet-name>
    <url-pattern>/AccountDepositServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountWithdrawServlet</servlet-name>
    <url-pattern>/AccountWithdrawServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccountTransferServlet</servlet-name>
    <url-pattern>/AccountTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAccountServlet</display-name>
    <servlet-name>AddAccountServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AddAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAccountServlet</servlet-name>
    <url-pattern>/AddAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserToAccountServlet</display-name>
    <servlet-name>AddUserToAccountServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.AddUserToAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserToAccountServlet</servlet-name>
    <url-pattern>/AddUserToAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassTimeServlet</display-name>
    <servlet-name>PassTimeServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.PassTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassTimeServlet</servlet-name>
    <url-pattern>/PassTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>com.kdemello.mavenbanking.servlet.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
</web-app>